<a name="hall-of-fame"><h1>Hall of Fame</h1></a>
<p>
  The OpenPGP interoperability test suite found the following bugs:
</p>
<h2>GPGME</h2>
<ul>
  <li><a href="https://dev.gnupg.org/T4725">
      Dubious filename in literal data packet when encrypting with GPGME/GnuPGv1.4.23
  </a></li>
</ul>
<h2>DKGPG</h2>
<ul>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57097">
      Lowercase hex digits are not recognized as such
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57098">
      Keyrings must be armored
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57099">
      dkg-encrypt adds spurious newline
  </a></li>
</ul>
